<style>
    .g-richtext h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        padding: 0.5rem 0;
        color: rgba(17, 24, 39, 1);
    }
    .g-richtext h1 {
        font-size: 1.875rem;
    }
    .g-richtext h2 {
        font-size: 1.7rem;
    }
    .g-richtext h3 {
        font-size: 1.5rem;
    }
    .g-richtext h4 {
        font-size: 1.35rem;
    }
    .g-richtext h5 {
        font-size: 1.2rem;
    }

    .g-richtext p {
        font-size: 1.2rem;
        color: rgba(31, 41, 55, 1);
    }

    .g-richtext ol {
        list-style: decimal;
        padding: 10px 20px;
        font-size: 1.05rem;
    }
    .g-richtext ul {
        list-style: disc;
        padding: 10px 20px;
        font-size: 1.05rem;
    }

    .g-richtext blockquote {
        font-size: 1.1rem;
        font-style: italic;
        padding: 0.3rem 1rem;
    }

    
    .g-richtext a {
        color: rgba(0, 0, 255, 0.781);
        text-decoration: underline;
    }

    .g-richtext code {
        font-size: 1rem;
        font-style: italic;
        font-weight: 500;
        color: rgb(255, 0, 0);
    }
</style>


<section class="mb-10 g-richtext">
    {{ self }}
</section>