{% extends 'base.html' %}

{% block title %}{{ page.title }}{% endblock %}


{% block content %}

    <!-- mobile design first -->
    <div class="mx-5 md:mx-10 lg:mx-16 grid grid-cols md:grid-cols-2 lg:grid-cols-6"> <!-- Container for the blog listing-->
        
        <div class="order-2 md:order-1 md:col-span-1 lg:col-span-1 p-5"> <!-- A side section to list the blog categories on desktop -->
            <div class="flex justify-around">
                <span class="flex space-x-5">
                    <div class="h-8 w-1 bg-purple-500 self-center"></div> <h1 class="text-center text-gray-400 font-bold text-3xl pt-3">Categories</h1>
                </span>
            </div>
        </div>

        <div class="order-1 md:order-2 md:col-span-2 lg:col-span-3 my-5"> <!-- The main section to display the blog listings -->
            {% for o in "123456789"|make_list %}

                <div class="shadow-lg hover:shadow-xl transform hover:scale-105 hover:border-red-500 p-5 transition delay-75 duration-200"> <!-- Blog listing container -->
                    <a href="#"><h2 class="font-bold text-2xl text-left md:text-justify text-pink-700 hover:text-pink-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, et?</h2></a>
                    <p class="my-2 ml-4">
                        <span class="text-gray-600">Gabriel Rockson</span> | <span class="text-green-500 font-bold text-sm md:text-basee
                        ">8th August, 2021</span>
                    </p>
                    <p class="text-base lg:text-lg text-gray-800">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident praesentium tempore nemo voluptatum maxime obcaecati explicabo, laboriosam vel ex esse enim fuga doloribus aliquid illum ... <a href="#" class="text-blue-500 hover:underline">continue reading <span><i class="fas fa-arrow-right    "></i></span> </a>
                    </p>
                    <p class="flex flex-wrap space-x-4"> <!-- Use changing colors for the background color and the texts -->
                        <a href="#" class="py-1 px-4 my-1 bg-gray-600 rounded-md shadow-2xl text-white">
                            Programming
                        </a>
                        <a href="#" class="py-1 px-4 my-1 bg-purple-600 rounded-md shadow-2xl text-white">
                            Web
                        </a>
                        <a href="#" class="py-1 px-4 my-1 bg-red-600 rounded-md shadow-2xl text-white">
                            Django
                        </a>
                        <a href="#" class="py-1 px-4 my-1 bg-yellow-600 rounded-md shadow-2xl text-white">
                            Development
                        </a>
                    </p>
                </div>
            {% endfor %}

        </div>
        <div class="order-3 lg:col-span-2 p-5"> <!-- A right side section to display lists of the related blog posts on desktop view -->
            <div class="flex justify-around">
                <span class="flex space-x-5">
                    <div class="h-8 w-1 bg-purple-500 self-center"></div> <h1 class="text-center text-gray-400 font-bold text-3xl pt-3">Related Blog Posts </h1>
                </span>
            </div>
        </div>

    </div>

{% endblock content %}