{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %} <link rel="stylesheet" href="{% static 'css/prism/prism.css' %}"> {% endblock extra_css %}

{% block title %}{{ page.title }}{% endblock %}


{% block content %}
<div class="mx-5 md:mx-10 lg:mx-16 my-8 md:my-10 lg:my-16">
    
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
        <div class="lg:col-span-2">
            <!-- Featured Image -->
            <div>
                {% image page.image width-800 format-jpeg as mobile_img  %}
                {% image page.image width-1200 height-600 format-jpeg as desktop_img %}
                <img src="{{ mobile_img.url }}" width="{{ mobile_img.width }}" height="{{ mobile_img.height }}" alt="{{ mobile_img.alt }}" class="lg:hidden shadow-md">
                <img src="{{ desktop_img.url }}" height="{{ desktop_img.height }}" alt="{{ desktop_img.alt }}" class="hidden lg:flex">

            </div>

            <div class="grid grid-cols-1 lg:grid-cols-6 gap-5">
                <!-- Title and Quote -->
                <div class="lg:col-span-4 lg:order-2 pt-4 pb-2 lg:py-6">
                    <h1 class="text-3xl lg:text-4xl font-bold text-center">{{ page.title }}</h1>
                    <blockquote class="text-lg py-3 px-8 italic font-cardo text-gray-700">
                        <span class="text-2xl text-red-600">"</span>{{ page.quote }}<span class="text-2xl text-red-600">"</span>
                    </blockquote>
                </div>

                <!-- Author, Date Published, Category-->
                <div class="text-lg pb-3 lg:col-span-2 lg:order-1 lg:py-6 lg:space-y-3 lg:bg-gray-800 lg:my-10 px-5">
                    <p><span class="font-bold text-gray-800 text-xl lg:text-gray-50">Author: </span><span class="text-imperial-red font-carmorant">{{ page.author.full_name }}</span></p>
                    <p><span class="font-bold text-gray-800 text-xl lg:text-gray-50">Published: </span><span class="text-imperial-red font-carmorant"><br class="hidden lg:inline"/>{{ page.date_published }}</span></p>
                    <p><span class="font-bold text-gray-800 text-xl lg:text-gray-50">Category: </span><span class="text-imperial-red font-carmorant">{{ page.category }}</span></p>
                </div>
            </div>

            <!-- Main Content -->
            <div>
                {% for block in page.content %}
                    {% if block.block_type == 'heading' %}
                        <h2 class="text-gray-900 font-semibold font-source-sans-pro text-3xl py-5">{{ block.value }}</h2>
                    {% elif block.block_type == 'text' %}
                        <p class="text-lg pb-5">{{ block.value }}</p>
                    {% elif block.block_type == 'paragraph' %}
                        {% include_block block %} <!-- TODO - add styling to all components of this particular value-->
                    <!-- TODO - render the image block -->
                    {% elif block.block_type == 'image' %}
                        {% image block.value width-800 format-jpeg as mobile_img  %}
                        {% image block.value width-1200 height-600 format-jpeg as desktop_img %}
                        <img src="{{ mobile_img.url }}" width="{{ mobile_img.width }}" height="{{ mobile_img.height }}" alt="{{ mobile_img.alt }}" class="lg:hidden shadow-md mb-10">
                        <img src="{{ desktop_img.url }}" height="{{ desktop_img.height }}" alt="{{ desktop_img.alt }}" class="hidden lg:flex mb-10">
                    {% elif block.block_type == 'code' %}
                        {% include_block block %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="class="lg:mx-5 lg:col-span-1">
            <!-- Related Blog Posts -->
            <div class="my-10 lg:my-0 lg:mb-16">
                <h1 class="text-2xl md:text-3xl font-bold font-arvo text-center text-imperial-red mb-4">Related Posts</h1>
                Box 2
            </div>

            <!-- Other Posts by Author -->
            <div class="my-10">
                <h1 class="text-2xl md:text-3xl font-bold font-arvo text-center text-imperial-red mb-4">Other Posts by Author</h1>

                {% for post in posts_from_author %}
                    <div class="px-5 py-4 mb-5 shadow-2xl">
                        <a href="{% pageurl post %}" class="text-xl pb-2 text-prussian-blue hover:text-caledon-blue font-bold">{{ post.title|truncatewords:20 }}</a><br />
                        <p class="my-2"><span class="font-bold text-gray-800 text-xl">Published: </span><span class="text-imperial-red font-carmorant">{{ page.date_published }}</span></p>
                        <a href="{% pageurl post %}" class="text-blue-500 font-bold hover:text-blue-600">Read This Post</a>
                    </div>
                {% empty %}
                    <div class="text-2xl text-center text-black bg-red-600 my-5 py-4 font-bold">Sorry, this author has no other posts</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block extra_js %} <script src="{% static 'js/prism.js' %}"></script> {% endblock extra_js %}
