{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/tailwind/tailwind.css' %}"> <!-- tailwindcss -->

    <title>{% block title %}{% endblock %}</title>
</head>
<body class="">
    
    <!-- Navigation Bar -->
    <!-- TODO - change the font family -->
    {% block navigation %}
    
    <nav class="bg-white">
        <div class="flex flex-row justify-between px-2 md:px-6 py-3 lg:py-2">
            <!-- logo section -->
            <div class="flex items-center">
                <a href="#" class="text-2xl font-extrabold text-gray-600">
                    <span class="text-pink-600">G</span><span class="text-pink-400"><</span><span class="font-base text-gray-400">rockson</span><span class="text-pink-400">/></span>
                </a>
            </div>

            <!-- primary navigation -->
            <!-- TODO - move the repetitive css classes to a component -->
            <div class="md:flex items-center space-x-3 text-gray-800 text-lg lg:text-xl hidden font-mono"> <!-- hide on mobile-->
                <a href="#" class="hover:text-purple-600 font-bold transition-colors duration-150">blog</a>
                <a href="#" class="hover:text-purple-600 font-bold transition-colors duration-150">projects</a>
                <a href="#" class="hover:text-purple-600 font-bold transition-colors duration-150">gotchas</a>
            </div>

            <!-- secondary navigation -->
            <div class="flex items-center space-x-4 font-mono">
                <div class="md:flex hidden space-x-3 text-gray-800 text-lg"> <!-- hide on mobile -->
                    <a href="#" class="hover:text-purple-600 font-bold transition-colors duration-150">about me</a>
                    <a href="#" class="hover:text-purple-600 font-bold transition-colors duration-150">contact me</a>
                </div>
                <a 
                    href="#" 
                    class="py-2 px-4 bg-blue-600 hover:bg-blue-700 hover:rotate-3 transform hover:scale-105 transition delay-100 duration-100 rounded-md drop-shadow-lg text-white font-bold text-lg"
                >Hire Me</a>
                <!-- put mobile menu icon here -->
                <div class="space-y-1 cursor-pointer" id="menuToggle">
                    <div class="w-4 h-1 bg-gray-500"></div>
                    <div class="w-6 h-1 bg-gray-700"></div>
                    <div class="w-7 h-1 bg-black"></div>
                </div>
            </div>
        </div>
        <!-- Mobile menu -->
        <div class="hidden justify-end fixed right-0" id="mobileMenu"> <!-- Hide on large screens -->
            <div class="bg-gray-900 text-white text-right px-3 pl-10 font-mono" style="min-width: 50px;"> <!-- change the font family-->
                <div class="flex flex-col text-lg py-5">
                    <div class="flex flex-col lg:hidden">
                        <a href="#">blog</a>
                        <a href="#">projects</a>
                        <a href="#">gotchas</a>
                    </div>
                    
                    <div class="flex flex-col mt-5">
                        <a href="#" class="lg:hidden">about me</a>
                        <p class="uppercase text-gray-500 font-serif font-bold text-sm pt-3 lg:pt-0 pb-1 text-center">My Networks</>

                        <div class="flex flex-col font-bold font-sans"> <!-- Add icons to the networks-->
                            <a href="#">My Github</a>
                            <a href="#">My LinkedIn</a>
                            <a href="#">My Twitter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% endblock navigation %}

    <!-- Content -->
    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    {% block footer %}
    {% endblock footer %}


    <script>   
        let menuToggle = document.getElementById("menuToggle");
        let mobileMenu = document.getElementById("mobileMenu");

        let toggleMenu = () => {
            mobileMenu.classList.toggle("hidden");
            mobileMenu.classList.toggle("flex");
        };

        menuToggle.addEventListener("click", () => {
            toggleMenu();
        });
    </script>
</body>
</html>