{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/tailwind/tailwind.css' %}"> <!-- tailwindcss -->
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/all.min.css' %}" /> <!-- fontawesome -->

    <title>{% block title %}{% endblock %}</title>
</head>
<body class="font-source-sans-pro bg-honeydew">
    
    <!-- Navigation Bar -->
    <!-- TODO - change the font family -->
    {% block navigation %}
    
    <nav class="bg-rich-black border-b-2 border-gray-50 shadow-lg mb-4">
        <div class="flex flex-row justify-between px-2 md:px-6 py-3 lg:py-2 font-cormorant">
            <!-- logo section -->
            <div class="flex items-center">
                <a href="#" class="text-2xl font-extrabold text-gray-600 font-source-sans-pro">
                    <span class="text-pink-600">G</span><span class="text-pink-400"><</span><span class="font-light text-gray-50">rockson</span><span class="text-pink-400">/></span>
                </a>
            </div>

            <!-- primary navigation -->
            <!-- TODO - move the repetitive css classes to a component -->
            <div class="md:flex items-center space-x-3 text-gray-800 hidden font-mono"> <!-- hide on mobile-->
                <a href="/blog" class="nav-link">blog</a><span class="nav-link-separator"> | </span>
                <a href="#" class="nav-link">projects</a><span class="nav-link-separator"> |</span>
                <a href="#" class="nav-link">gotchas</a>
            </div>

            <!-- secondary navigation -->
            <div class="flex items-center space-x-4 font-mono">
                <div class="lg:flex hidden space-x-3 text-gray-800"> <!-- hide on small screens -->
                    <a href="#" class="nav-link">about me </a><span class="nav-link-separator"> | </span>
                    <a href="#" class="nav-link">contact me</a>
                </div>
                <a 
                    href="#" 
                    class="nav-cta"
                >Hire Me</a>
                <!-- put mobile menu icon here -->
                <div class="space-y-1 cursor-pointer" id="menuToggle">
                    <div class="w-4 h-1 bg-gray-400"></div>
                    <div class="w-6 h-1 bg-gray-300"></div>
                    <div class="w-7 h-1 bg-gray-200"></div>
                </div>
            </div>
        </div>
        <!-- Mobile menu -->
        <div class="hidden justify-end fixed right-0 mt-2 z-50" id="mobileMenu"> <!-- Hide on large screens -->
            <div 
                class="bg-gray-900 text-gray-200 shadow-2xl rounded-lg text-right px-3 mr-2 pl-10 font-mono" 
                style="min-width: 50px;"
            > <!-- change the font family-->
            <!-- TODO - add animation to the entrance and leaving states of the navigation-->
                <div class="flex flex-col text-lg py-5">
                    <div class="flex flex-col lg:hidden space-y-3">
                        <a href="/blog">blog</a>
                        <a href="#">projects</a>
                        <a href="#">gotchas</a>
                    </div>
                    
                    <div class="flex flex-col mt-5">
                        <a href="#" class="lg:hidden text-gray-300"><span class="text-pink-600">-></span> about me</a>
                        <p class="uppercase text-gray-500 font-serif font-bold text-sm pt-2 lg:pt-0 pb-1 text-center">My Networks</>

                        <div class="flex flex-col font-bold font-sans space-y-2"> <!-- Add icons to the networks-->
                            <a href="#" class="nav-link flex space-x-2">
                                <span><i class="fab fa-github"></i><span> My Github</span></span>
                            </a>

                            <a href="#" class="nav-link flex space-x-2">
                                <span><i class="fab fa-linkedin"></i><span> My LinkedIn</span></span>
                            </a>

                            <a href="#" class="nav-link flex space-x-2">
                                <span><i class="fab fa-twitter"></i><span> My Twitter</span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% endblock navigation %}

    <!-- Content -->
    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    {% block footer %}
    {% endblock footer %}


    <script>   
        let menuToggle = document.getElementById("menuToggle");
        let mobileMenu = document.getElementById("mobileMenu");

        let toggleMenu = () => {
            mobileMenu.classList.toggle("hidden");
            mobileMenu.classList.toggle("flex");
        };

        menuToggle.addEventListener("click", () => {
            toggleMenu();
        });
        // TODO - hide the mobile navigation if the user clicks on the page
    </script>

    <!-- Extra js -->
    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>